Checks:          'clang-diagnostic-*,clang-analyzer-*,bugprone-*,cert-*,cppcoreguidelines-*,misc-*,modernize-*,-modernize-use-trailing-return-type,performance-*,readability-*,-cert-msc30-c,-cert-msc50-cpp,-bugprone-unchecked-optional-access,-bugprone-easily-swappable-parameters,-misc-include-cleaner,-readability-function-cognitive-complexity'
CheckOptions:
   misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: 'true'
